* {
	margin: 0;
	padding: 0;
}
html,
#unity-container {
	width: 100vw;
	height: 100vh;
}
#unity-container {
	height: 100vh;
	width: 100vw;
	display: block;
	overflow: hidden;
}
#unity-container { height: 100vh; width: 100vw; display: block; }
#unity-canvas { background: #231F20; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 500; height: 200px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 500px; height: 20px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center; background-size: 100% 100%; }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center; background-size: 100% 100%; }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }